* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
}

.container {
    height: 100vh;
    width: 100vw;
    background: url("../images/bk.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container > #stopMusic {
    position: absolute;
    top: 1.834%;
    right: 4.034%;
    width: 13.202vw;
    height: 13.202vw;
    z-index: 2;
    border-radius: 50%;
    border: 2px solid white;
    animation: circle 6s linear infinite;
    -webkit-animation: circle 6s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#top {
    position: absolute;
    top: 0;
    left: -2.0782vw;
    background: url("../images/top.png") no-repeat;
    background-size: 100%;
    height: 12.4694vw;
    width: 103.6674vw;
    z-index: 1;
}

/*
*page1
*/
.page1 {
    width: 100vw;
    height: 179.95vw;
}

.page1 > #leftLantern {
    position: absolute;
    top: 7.0904vw;
    left: 6.8459vw;
    background: url("../images/lantern.png") no-repeat;
    background-size: 100%;
    height: 37.408vw;
    width: 17.126vw;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    animation: shakeLeftToRight 3s linear forwards infinite alternate;
    -webkit-animation: shakeLeftToRight 3s linear forwards infinite alternate;
}

@keyframes shakeLeftToRight {
    to {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform-origin: 50% 0;
        -webkit-transform-origin: 50% 0;
    }
}

.page1 > #rightLantern {
    position: absolute;
    top: 7.0904vw;
    right: 6.8459vw;
    background: url("../images/lantern.png") no-repeat;
    background-size: 100%;
    height: 37.408vw;
    width: 17.126vw;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    animation: shakeLeftToRight 3s linear forwards infinite alternate;
    -webkit-animation: shakeLeftToRight 3s linear forwards infinite alternate;
}

.page1 > #rightCloud {
    position: absolute;
    top: 26.2907vh;
    left: 80vw;
    background: url("../images/cloudRight.png") no-repeat;
    background-size: 100%;
    width: 23.3496vw;
    height: 10.5134vw;
    animation: moveRightToLeft 3s linear forwards infinite alternate;
    -webkit-animation: moveRightToLeft 3s linear forwards infinite alternate;
}

.page1 > #leftCloud {
    position: absolute;
    top: 67.6847vh;
    left: -0.9779vw;
    background: url("../images/cloudLeft.png") no-repeat;
    background-size: 100%;
    width: 37.0414vw;
    height: 15.52567vw;
    animation: moveLeftToRight 3s linear forwards infinite alternate;
    -webkit-animation: moveLeftToRight 3s linear forwards infinite alternate;
}

@keyframes moveLeftToRight {
    to {
        left: 3vw;
    }
}

@keyframes moveRightToLeft {
    to {
        left: 85vw;
    }
}

.page1 > #building {
    background: url("../images/building.png") no-repeat;
    background-size: 100%;
    width: 51.4669vw;
    height: 31.5403vw;
    position: absolute;
    left: 1.4669vw;
    bottom: 6.11246vw;
    animation: getBigger 3s linear forwards infinite alternate;
    -webkit-animation: getBigger 3s linear forwards infinite alternate;
}

@keyframes getBigger {
    to {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

.page1 > #pig {
    background: url("../images/pig.png") no-repeat;
    background-size: 100%;
    width: 30.5623vw;
    height: 25.7946vw;
    position: absolute;
    right: 7.4572vw;
    bottom: 12.9755vh;
    animation: pigRotate 5s linear forwards infinite alternate;
    -webkit-animation: pigRotate 4s linear forwards infinite alternate;
}

@keyframes pigRotate {
    to {
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
    }
}

.page1 > #bottomCloud {
    background: url("../images/bottomCloud.png") no-repeat;
    background-size: 100%;
    width: 105.62347vw;
    height: 44.132vw;
    position: absolute;
    bottom: -3.3967vh;
    right: -55vw;
    z-index: 0;
}

/*
*page2
*/
.page2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}
.page2 > #message {
    background: url("../images/input.png") no-repeat;
    background-size: 100%;
    width: 65.1589vw;
    height: 40.83129vw;
    position: absolute;
    top: 37.43206vh;
    left: 17.8484vw;
}
.page2 > #message > span {
    display: inline-block;
}
.page2 > #message > #nameImg {
    background: url("../images/name.png") no-repeat;
    width: 11.3507vw;
    height: 5.5012vw;
    background-size: 100%;
    position: absolute;
    top: 4.1271vw;
    left: 25.3765vw;
}
.page2 > #message > span > #messageInput {
    background-color: #f1a97c;
    border: 0.3vw solid saddlebrown;
    border-radius: 10px;
    font-size: 4vw;
    text-align: center;
    line-height: 5vw;
    width: 32vw;
    height: 5vw;
    position: absolute;
    top: 11vw;
    left: 15vw;
}
.page2 > #message > #sexImg {
    background: url("../images/sex.png") no-repeat;
    width: 11.3507vw;
    height: 5.5012vw;
    background-size: 100%;
    position: absolute;
    top: 18.1271vw;
    left: 25.3765vw;
}

.page2 > #message > #select > .picBoy{
    background: url("../images/select.png") no-repeat;
    background-size: 100%;
    width: 4.7677vw;
    height: 4.4009vw;
    position: absolute;
    top: 27vw;
    left: 17vw;
}
.page2 > #message > #select > #titleBoy{
    background: url("../images/boy.png") no-repeat;
    background-size: 100%;
    width: 4.0342vw;
    height: 4.4009vw;
    position: absolute;
    top: 27vw;
    left: 25vw;

}
.page2 > #message > #select > .picGirl{
    background: url("../images/select.png") no-repeat;
    background-size: 100%;
    width: 4.7677vw;
    height: 4.4009vw;
    position: absolute;
    top: 27vw;
    left: 35vw;

}
.page2 > #message > #select > #titleGirl{
    background: url("../images/girl.png") no-repeat;
    background-size: 100%;
    width: 4.0342vw;
    height: 4.4009vw;
    position: absolute;
    top: 27vw;
    left: 43vw;
}
.selectedBoy{
    background: url("../images/selected.png") no-repeat;
    background-size: 100%;
    width: 7.8239vw;
    height: 8.1907vw;
    position: absolute;
    top:24vw;
    left: 16vw;
}
.selectedGirl{
    background: url("../images/selected.png") no-repeat;
    background-size: 100%;
    width: 7.8239vw;
    height: 8.1907vw;
    position: absolute;
    top:24vw;
    left: 34vw;
}
.page2 > #message > #btn {
    background: url("../images/certain.png") no-repeat;
    width: 18.3374vw;
    height: 5.6234vw;
    background-size: 100%;
    position: absolute;
    top: 36.5vw;
    left: 23vw;
}

.fade-out {
    -webkit-animation: fadeOut 500ms linear forwards;
    -o-animation: fadeOut 500ms linear forwards;
    animation: fadeOut 500ms linear forwards;
}

.fade-in {
    -webkit-animation: fadeIn 500ms linear forwards;
    -o-animation: fadeIn 500ms linear forwards;
    animation: fadeIn 500ms linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        display: none;
    }
    2% {
        opacity: 0.02;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        display: block;
    }
    98% {
        opacity: 0.02;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/*
*page3
*/
.page3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.page3 > #cork {
    background: url("../images/cork.png") no-repeat;
    background-size: 100%;
    width: 43.0782vw;
    height: 26.8948vw;
    position: absolute;
    top: 14.7853vh;
    left: 28.7506vw;
    z-index: 0;
}

/*
*弹出瓶塞效果
*/
.bomb {
    -webkit-animation: bomb 3s forwards;
    -o-animation: bomb 3s forwards;
    animation: bomb 3s forwards;
}

@keyframes bomb {
    to {
        top: -1000px;
        left: -1000px;
        transform: rotate(360deg);
    }
}

/**
*瓶子左右晃动效果
*/
.shakeBottle {
    -webkit-animation: shakeBottle 2s;
    -o-animation:shakeBottle 2s ;
    animation:shakeBottle 2s ;
}

@keyframes shakeBottle {
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40%{
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80%{
        transform: rotate(-5deg);
    }
    90%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0);
    }
}
@-webkit-keyframes shakeBottle {
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40%{
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80%{
        transform: rotate(-5deg);
    }
    90%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0);
    }
}

/*星星变大效果*/
.getBiggerStar{
    -webkit-animation: getBiggerStar 2s forwards;
    -o-animation: getBiggerStar 2s forwards;
    animation: getBiggerStar 2s forwards;
}
@keyframes getBiggerStar {

    to{
        -webkit-transform: scale(2) ;
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }
}
@-webkit-keyframes getBiggerStar{
    to{
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }
}
.page3 > #bottle {
    background: url("../images/bottle.png") no-repeat;
    background-size: 100%;
    width: 60.6356vw;
    height: 106.3569vw;
    position: absolute;
    top: 18.68206vh;
    left: 19.8044vw;
}
.page3 > #wishButton {
    display: block;
    background: url("../images/open.png") no-repeat;
    background-size: 100%;
    width: 45vw;
    height: 14vw;
    position: absolute;
    top: 15vh;
    left: 27vw;
}
.page3 > #star {
    background: url("../images/star.png") no-repeat;
    background-size: 100%;
    width: 25.0611vw;
    height: 34.59657vw;
    position: absolute;
    top: 45vw;
    left: 38.3863vw;
    z-index: 3;

}
.starRotate{
    -webkit-animation: starRotate 3s linear infinite;
    animation: starRotate 3s linear infinite;
}
@-webkit-keyframes starRotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }

}

@keyframes starRotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }

}

/*page4*/
.page4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}
.page4 > .sign{
    background: url("../images/sign_bk.png") no-repeat;
    background-size: 100% 100%;
    width: 85vw;
    height: 84.9864vh;
    position: absolute;
    top: 7vh;
    left: 8vw;
}
.page4 > .sign > #name{
    font-size: 4vw;
    position: absolute;
    top:15.56vh;
    left: 10vw;
    color: white;
}
.page4 > .sign > #tongxue{
    background: url("../images/tongxue.png") no-repeat;
    background-size: 100%;
    width:15.28117vw;
    height: 6.2347vw;
    position: absolute;
    top:15.56vh;
    left: 26vw;
}
.page4 > .sign > #nickname{
     background: url("../images/nickname/jinli.png") no-repeat;
     background-size: 100%;
     width:38.0195vw;
     height: 9.53545vw;
     position: absolute;
     top:28vh;
     left: 24.5721vw;
 }

.page4 > .sign > #description{
    background: url("../images/description/jinli.png") no-repeat;
    background-size: 100%;
    width:38.8753vw;
    height: 38.0195vw;
    position: absolute;
    bottom: 23vh;
    left: 41.4425vw;
}
.page4 > .sign > #code{
     background: url("../images/code.png") no-repeat;
     background-size: 100%;
     width:24.44987vw;
     height: 24.44987vw;
     position: absolute;
     left: 54.15647vw;
     bottom:6vh;
 }
.page4 > .sign > #changan{
     background: url("../images/changan.png") no-repeat;
     background-size: 100%;
     width:50.1222vw;
     height: 4.15647vw;
     position: absolute;
     bottom:2.30978vh;
     right: 14.6039vw;
 }
.page4 > .sign > #saoyisao{
    background: url("../images/saoyisao.png") no-repeat;
    background-size: 100%;
    width:8.0684vw;
    height: 22.7383vw;
    position: absolute;
    left:42.2982vw;
    bottom:6.55978vh;
}
.page4 > .sign > #cartoon{
    background: url("../images/boy/keyan.png") no-repeat;
    background-size: 100% 100%;
    width:27.1491vw;
    height: 75.9608vw;
    position: absolute;
    bottom:7.40489vh;
    left: 4.8337vw;
}

#result{
    width: 85vw;
    height: 84.9864vh;
    position: absolute;
    top: 7vh;
    left: 8vw;
    display: none;
    z-index: 1;
    overflow: hidden;
}